.title{
    color: rgba(104, 104, 104, 0.706);
    padding: 20px 0px 0px 20px;
    font-size: 30px;
}

.ptitle{
    color: rgba(104, 104, 104, 0.706);
    padding: 20px 0px 0px 20px;
    font-size: 10px;
}