@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lora:ital,wght@0,400;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@1,400;1,800&family=Tangerine&family=Titillium+Web:wght@300;400;700&family=Varela+Round&display=swap');

*{
    padding: 0;
    margin: 0;
}

.title{
    color: rgba(255, 254, 254, 0.963);
    padding: 20px 0px 0px 20px;
    font-size: 30px;
}

.ptitle{
    color: rgba(0, 0, 0, 0.625);
    padding: 0 5px 0 5px;
    margin-left: 20px;
    font-size: 15px;
    background-color: rgba(66, 66, 66, 0.346);
    display: inline-block;
    font-weight: bold;
    width: 300PX;
    color: rgb(183, 183, 183);
}

.allcards{
    display: grid;
    grid-template-columns: 230px 270px 270px 200px;
    margin-left: 20px;
    margin: 12px;
    margin-top: 40px;
}
.ptext{
    margin-right: 40px;
    margin-top: 20px;
    font-size: 15px;
}
.planetitle{
    background-image: linear-gradient(to right, rgba(7, 249, 245, 0.713) , rgba(34, 34, 33, 0.434));
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Anton', sans-serif;
    padding: 5px;
    color: rgb(255, 255, 255);
}

.detailp{
    color: rgb(0, 0, 0);
    font-family: 'Tangerine', cursive;
    font-size: 30px;
    background-color: rgba(1, 1, 1, 0);
    box-shadow: 20px rgb(30, 30, 30);
   

}

.maincontainer{

    background-image: url("./Assets/image-gray-black.avif");
    padding-bottom: 50px;
    width: 100%;
}



